#Problem Set 2

#Question 1
Consider the following Python module:

a	0

def b():
global a a	c(a)

def c(a):
return a + 2

#After importing the module into the interpreter, you execute:

#>>> b()
#>>> b()
#>>> b()
#>>> a
#? 

#What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

In [7]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
b()
b()
b()
a

6

#The number two is added each time.
#b()= 0 + 2 = 2
#b()= 2 + 2 = 4
#b()= 4 + 2 = 6
#which makes a=6

#Question 2
#Function fileLength(), given to you, takes the name of a file as input and returns
#the length of the file:
#>>> fileLength('midterm.py')
    284
#>>> fileLength('idterm.py')
#Traceback (most recent call last):
#File "<pyshell#34>", line 1, in <module>
 #fileLength('idterm.py')
#File "/Users/me/midterm.py", line 3, in fileLength
 #infile = open(filename)
#FileNotFoundError: [Errno 2] No such file or directory:
#'idterm.py'
#As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be #raised. Modify function fileLength() so that a friendly message is printed instead:
#>>> fileLength('midterm.py')
358
#>>> fileLength('idterm.py')
#File idterm.py not found.

In [2]:
def fileLength(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except FileNotFoundError:
        print(f"File {file_name} not found")
fileLength('midterm.py')
fileLength('D:\Desktop\Problem Set 2\Filelength.txt')
fileLength('idterm.py')

File midterm.py not found
123
File idterm.py not found

#Question 3
Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']

Now write a class named Kangangaroo as a subclass of Marusupial that inherits all the attributes of Marsupial and also:
a.	extends the Marsupial_init_ constructor to take, as input, the coordinates x and y of the Kangaroo object,
b.	supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the y- axis, and
c.	overloads the est _str_	operator so it behaves as shown below.

>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [17]:
class Marsupial:
    
    def __init__(self):
        self.contents=[]
    def put_in_pouch(self,a):
        self.contents.append(a)
    def pouch_contents(self):
        print(self.contents)
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [18]:
class Kangaroo(Marsupial):
    def __init__(self,x,y):
        super().__init__()
        self.xcord= x
        self.ycord= y
    def jump(self,dx,dy):
        self.xcord+=dx
        self.ycord+=dy
    def __str__(self):
        return "I am a Kangaroo located at coordinates" + "("+str(self.xcord)+ ","+str(self.ycord) +")"
k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates(0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates(3,0)

In [19]:
class Marsupial:
    def __init__(self):
        self.pouch=[]
    def put_in_pouch(self, stuff):
        self.pouch=self.pouch+[stuff]
    def pouch_contents(self):
        return self.pouch
    def __str__(self):
        stuff=""
        if(len(self.pouch)>1):
            for i in range(len(self.pouch)-1):
                stuff=stuff+self.pouch[i]+", "
            stuff=stuff+"and "
        stuff=stuff+self.pouch[-1]+"."
        return "I am a marsupial. My pouch contains a "+stuff
m=Marsupial()
m.put_in_pouch("doll")
m.put_in_pouch("firetruck")
m.put_in_pouch("kitten")
print(m.pouch_contents())
print(m)

['doll', 'firetruck', 'kitten']
I am a marsupial. My pouch contains a doll, firetruck, and kitten.

#Question 4
Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence: i f x is even X i f x is odd Your function should stop when the sequence gets to number 1. implementation must be recursive, without any loops. 
#>>> collatz(1) 1 >>> collatz(10) 10 5 16 8 4 2 1

In [8]:
def collatz(x):
    print(x)
    if x!=1:
        if x%2==0:
            x = x//2
            x= int(x)
            collatz(x)
        else:
            x= (3*x) +1
            x= int(x)
            collatz(x)
    else:
        return

In [9]:
collatz(1)

1

In [10]:
collatz(10)

10
5
16
8
4
2
1

#Question 5
Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.
#>>> binary(0) 0 >>> binary(1) 1 >>> binary(3) 11 >>> binary(9) 1001

In [1]:
def binary(n):
    if n == 0:
        return '0'
    else:
        b = ''
        while n > 0:
            b = str((n % 2)) + b
            n //= 2
        return b

print(binary(0))
print(binary(1))
print(binary(3))
print(binary(9))

0
1
11
1001

#Question 6
#Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in #the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When #fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in #the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have #indentation 1, etc. Test your implementation using w3c.html.
#>>> infile = open('w3c.html')
#>>> content = infile.read()
#>>> infile.close()
#>>> hp = HeadingParser()
#>>> hp.feed(content)

#W3C Mission
#Principles

In [1]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    def __init__(self):
        HTMLParser.__init__(self)
        self.value=False
        self.space= False
        
        
    def handle_starttag(self, tag, attrs):
        if tag == "h1":
            self.value=True
        elif tag=="h2":
            self.value=True
            self.space=True
    def handle_data(self, data):
        if self.value== True:
            if self.space==True:
                print(" "+data.strip("\n"))
            else:
                print(data.strip("\n"))
        
            
infile = open(r"D:\Desktop\Problem Set 2\w3c.html")
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission

 Principles

#Question 7
#Implement recursive function Webdir( ) that takes as input: a URL (as a string) and non-negative integers depth and indent #indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print #each web page's URL. 
#As shown below, indentation, specified by indent, should be used to indicate the depth of a URL. #webdir('http://reed.cs.depaul.edu/perkovic/csc242/test1.html'2,0) 
    #http://reed.cs.depaul.edu/lperkovic/csc242/test1.html 
        #http://reed.cs.depaul.edu/lperkovic/csc242/test2.html 
    #http://reed.cs.depaul.edu/lperkovic/csc242/test4.html 
        #http://reed.cs.depaul.edu/lperkovic/csc242/test3.html 
   #http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

***I have given up on Question 7 as I cannot seem to get it right. I will keep trying till I get it on my own time but unfortunately I have no more time to put into this for the assignment. I do apologize that I could not get it to work...***

In [21]:
from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser
class Collector(HTMLParser):
    def __init__(self, url):
        HTMLParser.__init__(self)
        self.url = url
        self.links = []
    def handle_starttag(self, tag, attrs):
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': 
                        self.links.append(absolute)
    def getLinks(self):
        return self.links

In [22]:
visited = set() 
def Webdir(url,depth,indent):
    content = urlopen(url).read().decode()
    collector = Collector(url)
    collector.feed(content)
    urls = collector.getLinks()
    print('{:45}'.format(url))
    global visited     
    visited.add(url)
    for link in urls:
        if link not in visited:
            try:
                webdir(url,depth,indent)
            except:
                pass

In [23]:
def webdir(url, depth, indent):
    
    print(indent*" " + url)

    if depth == 0:
        return

    for i in getLinks(url):
        webdir(i, depth-1, indent+1)

webdir("http://reed.cs.depaul.edu/lperkovic/test1.html",2,0)

http://reed.cs.depaul.edu/lperkovic/test1.html

NameError: name 'getLinks' is not defined

#Question 8
Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.

In [3]:
import sqlite3
con = sqlite3.connect('web.db')
cur = con.cursor()
cur.execute("CREATE TABLE Data(City text,Country text,Season text,Temperature  float ,Rainfall float)")

OperationalError: table Data already exists

In [4]:
cur.execute("INSERT INTO Data VALUES ('Mumbai', 'India', 'Winter',24.8,5.9)")
cur.execute("INSERT INTO Data VALUES ('Mumbai', 'India', 'Spring',28.4,16.2)")
cur.execute("INSERT INTO Data VALUES ('Mumbai', 'India', 'Summer',27.9,1549.4)")
cur.execute("INSERT INTO Data VALUES ('Mumbai', 'India', 'Fall',27.6,346.0)")
cur.execute("INSERT INTO Data VALUES ('London', 'United Kingdom', 'Winter',4.2,207.7)")
cur.execute("INSERT INTO Data VALUES ('London', 'United Kingdom', 'Spring',8.3,169.6)")
cur.execute("INSERT INTO Data VALUES ('London', 'United Kingdom', 'Summer',15.7,157.0)")
cur.execute("INSERT INTO Data VALUES ('London', 'United Kingdom', 'Fall',10.4,218.5)")
cur.execute("INSERT INTO Data VALUES ('Cairo', 'Egypt', 'Winter',13.6,16.5)")
cur.execute("INSERT INTO Data VALUES ('Cairo', 'Egypt', 'Spring',20.7,6.5)")
cur.execute("INSERT INTO Data VALUES ('Cairo', 'Egypt', 'Summer',27.7,0.1)")
cur.execute("INSERT INTO Data VALUES ('Cairo', 'Egypt', 'Fall',22.2,4.5)")

In [5]:
cur.execute("Select * from Data")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [6]:
print("Answer 8 - a \nThe Temperature data is :")
cur.execute("Select Temperature from Data ")
cur.fetchall()

Answer 8 - a
The Temperature data is :

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [7]:
print("Answer 8 - b \nAll the cities without repetition:")
cur.execute("Select Distinct City from Data ")
cur.fetchall()

Answer 8 - b
All the cities without repetition:

[('Mumbai',), ('London',), ('Cairo',)]

In [8]:
print("Answer 8 - c \nAll the records for India:")
cur.execute("Select * from Data where Country= 'India' ")
cur.fetchall()

Answer 8 - c
All the records for India:

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [9]:
print("Answer 8 - d \nAll the fall records:")
cur.execute("Select * from Data where Season= 'Fall' ")
cur.fetchall()

Answer 8 - d
All the fall records:

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [10]:
print("Answer 8 - e \nThe city, country, and season for which the average rainfall is between 200 and 400 millimeters:")
cur.execute("Select City,Country,Season from Data where Rainfall between 200 and 400 ")
cur.fetchall()

Answer 8 - e
The city, country, and season for which the average rainfall is between 200 and 400 millimeters:

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [11]:
print("Answer 8 - f \nThe city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.")
cur.execute("Select City,Country from Data where Temperature >20 and Season= 'Fall' order By Temperature  ")
cur.fetchall()

Answer 8 - f
The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [12]:
print("Answer 8 - g \nThe total annual rainfall for Cairo is")
cur.execute("Select SUM(Rainfall) from Data where City = 'Cairo'  ")
cur.fetchall()

Answer 8 - g
The total annual rainfall for Cairo is

[(27.6,)]

In [13]:
print("Answer 8 - h \nThe total rainfall for each season.")
cur.execute("Select Season,Sum(Rainfall) from Data group by Season ")
cur.fetchall()

Answer 8 - h
The total rainfall for each season.

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

#Question 9
#Suppose list words is defined as follows:
#>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
#Write list comprehension expressions that use list words and generate the following lists:
#a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
#b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
#c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).
#d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)
#e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

In [2]:
#a)
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
print([x.upper() for x in words])

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [3]:
#b)
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
print([x.lower() for x in words])

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [4]:
#c)
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
print([len(x) for x in words])

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [5]:
#d)
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
print([[x.upper(), x.lower(), len(x)] for x in words])

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [6]:
#e)
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
print([x for x in words if len(x)>=4])

['quick', 'brown', 'jumps', 'over', 'lazy']